.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
}

input[type="file"] {
  cursor: pointer;
}

.image-preview img {
  max-height: 200px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}