<div class="cart-section">
  <div class="cart-container">
    <h2>Your Dream Itinerary</h2>
    <!-- Display cart items -->
    <div class="cart-items" *ngIf="cartItems.length > 0">
      <div 
        class="cart-item" 
        *ngFor="let item of cartItems; let i = index" 
        [style.animation-delay]="i * 0.1 + 's'"
      >
        <img [src]="item.image" [alt]="item.name" />
        <div class="item-details">
          <h3>{{ item.name }}</h3>
          <p><strong>Cost (per item):</strong> ${{ item.cost | number: '1.2-2' }}</p>
          <p><strong>Total Cost:</strong> ${{ item.cost * item.quantity | number: '1.2-2' }}</p>
          <p><strong>Quantity:</strong> {{ item.quantity }}</p>
          <p><strong>Description:</strong> {{ item.details }}</p>
          <p><strong>Rating:</strong> {{ item.rating }}</p>
          <p><strong>Highlights:</strong></p>
          <ul>
            <li *ngFor="let highlight of item.highlights">{{ highlight }}</li>
          </ul>
          <p><strong>Best Time to Visit:</strong> {{ item.bestTimeToVisit }}</p>
          <p><strong>Duration:</strong> {{ item.duration }}</p>
        </div>
      </div>
    </div>
    

      <div class="cart-summary">
        <div class="summary-content">
          <h3>Trip Summary</h3>
          <div class="summary-details">
            <p>Subtotal: <span>${{ totalAmount | number: '1.2-2' }}</span></p>
            <p>Tax (10%): <span>${{ totalAmount * 0.1 | number: '1.2-2' }}</span></p>
            <p class="total">Total: <span>${{ totalAmount * 1.1 | number: '1.2-2' }}</span></p>
          </div>
          <button class="checkout-btn" routerLink="/paymentonline" >Proceed to Pay</button>
          <button class="checkout-btn" routerLink="/country/:id">Back</button>
        </div>
      </div>
      
    
    <!-- Empty cart message -->
    <div class="empty-cart" *ngIf="cartItems.length === 0">
      <p>Your itinerary is empty</p>
      <p>Start planning your dream vacation today!</p>
    </div>
  </div>
</div>
