<div class="navbar">
  <div class="logo">Way to Go</div>
  <nav class="nav-links">
    <a routerLink="/home" fragment="home" class="nav-link">Home</a>
    <a routerLink="/home" fragment="about" class="nav-link">About</a>
    <a routerLink="/home" fragment="gallery" class="nav-link">Gallery</a>
    <a routerLink="/country" class="nav-link">Booking</a>
    <a routerLink="/recommendation" class="nav-link">Recommendation</a>
    <!-- <a routerLink="/home" fragment="countryid" class="nav-link">Country</a> -->
    <a routerLink="/home" fragment="contact" class="nav-link">Contact</a>
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedInMenu">
      <div class="language-select">
        <label for="language"></label>
        <select
          id="language"
          name="language"
          (change)="onLanguageChange($event)"
        >
          <option value="/home">English</option>
          <option value="/Tamil">Tamil</option>
          <option value="/Sinhala">Sinhala</option>
          <option value="/Hindi">Hindi</option>
          <option value="/Chinese">Chinese</option>
          <!-- Add more languages as needed -->
        </select>
      </div>
      <a routerLink="/paymentonline" class="nav-link">Pay</a>
      <a routerLink="/login" class="nav-link auth">Login</a>
      <a routerLink="/register" class="nav-link auth">Register</a>
    </ng-container>
    
    <ng-template #loggedInMenu>
      <div class="user-menu">
        <a (click)="toggleLogoutDropdown()" class="nav-link auth username">
          {{ authService.getCurrentUsername() }}
        </a>
        <div *ngIf="showLogoutDropdown" class="logout-dropdown">
          <a (click)="logout()" class="nav-link">Logout</a>
        </div>
      </div>
    </ng-template>
    <button class="admin-button">
      <i class="fas fa-user-cog" routerLink="/Adminlogin"></i> Admin
    </button>
  </nav>
  <button class="menu-toggle">
    <span class="bar"></span> <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>
<router-outlet></router-outlet>
